<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemukm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemUKM">
        <activity android:name=".Dasboard"></activity>
        <activity android:name=".UKMList" />
        <activity android:name=".LoginMahasiswa" />
        <activity
            android:name=".ui.login.LoginMahasiswa"
            android:label="@string/title_activity_login_mahasiswa" />
        <activity android:name=".LoginUKM" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>